/* Google Font */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#081b29;
    color:#fff;
    overflow-x:hidden;
}
section{
    scroll-margin-top: 100px;
}
html, body{
    overflow-x: hidden;
}
/* Header */

header{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#051129;
    z-index:1000;
}
.menu-btn{

display:none;

font-size:30px;

color:#64FFDA;

cursor:pointer;

}

.logo{
    font-size:20px;
    font-weight:bold;
}

.logo span{
    color:#00abf0;
}

nav a{
    position:relative;
    color:#fff;
    text-decoration:none;
    margin-left:30px;
    font-size:18px;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#00abf0;
}

nav a::after{

    content:'';

    position:absolute;

    left:0;

    bottom:-6px;

    width:0%;

    height:3px;

    background:#447d93;

    border-radius:10px;

    transition:.4s ease;

}

nav a:hover::after{

    width:100%;

}

nav a.active{

color:#00abf0;

}

nav a.active::after{

width:100%;

}

/* Hero Section */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 8%;
    position: relative;
    z-index: 1;
}

.hero-text{
    width:55%;
}

.hero-text h3{
    font-size:28px;
}

.hero-text h1{

font-size:72px;

font-weight:700;

line-height:1.1;

margin:15px 0;

letter-spacing:2px;

}

.hero-text h2{
    color:#00abf0;
    margin-bottom:20px;
}

.hero-text p{
    font-size:18px;
    line-height:1.8;
    color:#dcdcdc;
}

.buttons{
    margin-top:35px;
}

.buttons a{
    display:inline-block;
    text-decoration:none;
    margin-right:15px;
    padding:15px 35px;
    border-radius:40px;
    transition:.3s;
    font-weight:600;
}

.buttons a:first-child{
    background:#00abf0;
    color:white;
}

.buttons a:last-child{
    border:2px solid #00abf0;
    color:#00abf0;
}

.buttons a:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px #00abf0;
}

.hero-image{
    width:40%;
    display:flex;
    justify-content:center;
    position:relative;
    z-index:1;
}

.hero-image img{

width:380px;

height:380px;

border-radius:50%;

border:4px solid #85bdf4;

object-fit:cover;

box-shadow:0 0 35px rgba(128, 100, 255, 0.5);

transition:.5s;

position: relative;
z-index: 1;

}

.hero-image img:hover{

transform:scale(1.05);

box-shadow:0 0 60px rgba(9, 113, 204, 0.8);

}

/* Responsive */

@media(max-width:900px){

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 20px;
}

.logo{
    font-size:32px;
}

nav{
    margin-top:15px;
}

.hero{
    flex-direction:column-reverse;
    text-align:center;
}

.hero-text{
    width:100%;
}

.hero-image{
    width:100%;
    margin-bottom:40px;
}

.hero-image img{
    width:250px;
    height:250px;
}

.hero-text h1{
    font-size:42px;
}

}
/* ---------- Common Page Style ---------- */

.page{

min-height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:130px 8%;

gap:60px;

}

.page-image{

flex:1;

display:flex;

justify-content:center;

}

.page-image img{

width:350px;

height:350px;

object-fit:cover;

border-radius:20px;

border:5px solid #248bdf;

box-shadow:0 0 30px #00abf0;

}

.page-content{
    flex:1;
    max-width:700px;
    margin:auto;
}

.page-content h1{

font-size:50px;

margin-bottom:25px;

color:#00abf0;

}

.page-content p{

font-size:18px;

line-height:1.8;

margin-bottom:20px;

color:#dcdcdc;

}

@media(max-width:900px){

.page{

flex-direction:column;

text-align:center;

}

.page-image img{

width:260px;

height:260px;

}

.page-content h1{

font-size:38px;

}

}
/*================ SKILLS PAGE ================*/

.skills-page{

padding:140px 8% 80px;

background:#081b29;

min-height:100vh;

}

.skills-page h1{

text-align:center;

font-size:50px;

color:#00abf0;

margin-bottom:15px;

}

.subtitle{

text-align:center;

color:#dcdcdc;

margin-bottom:60px;

font-size:18px;

}

.skills-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}

.skill-card{

background:#112e42;

padding:30px;

border-radius:20px;

text-align:center;

transition:.4s;

border:2px solid transparent;

}

.skill-card:hover{

transform:translateY(-10px);

border-color:#00abf0;

box-shadow:0 0 20px rgba(0,171,240,.5);

}

.skill-card i{

font-size:55px;

color:#00abf0;

margin-bottom:20px;

}

.skill-card h3{

font-size:24px;

margin-bottom:15px;

}

.skill-card p{

color:#dcdcdc;

line-height:1.6;

}

@media(max-width:768px){

.skills-page{

padding:120px 20px 60px;

}

.skills-page h1{

font-size:38px;

}

}

/*================ PROJECTS =================*/

.projects{

padding:140px 8% 80px;

background:#081b29;

min-height:100vh;

}

.projects h1{

text-align:center;

font-size:50px;

color:#00abf0;

margin-bottom:15px;

}

.project-subtitle{

text-align:center;

color:#dcdcdc;

margin-bottom:60px;

font-size:18px;

}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.project-card{

background:#112e42;

padding:30px;

border-radius:20px;

transition:.4s;

}

.project-card:hover{

transform:translateY(-10px);

box-shadow:0 0 20px rgba(0,171,240,.4);

}

.project-card h2{

color:#00abf0;

margin-bottom:20px;

font-size:24px;

}

.project-card p{

line-height:1.8;

color:#dcdcdc;

margin-bottom:20px;

}

.tech{

display:flex;

flex-wrap:wrap;

gap:10px;

margin-bottom:25px;

}

.tech span{

background:#00abf0;

color:white;

padding:8px 15px;

border-radius:30px;

font-size:14px;

}

.project-buttons{

display:flex;

gap:15px;

}

.project-buttons a,
.project-buttons button{

padding:12px 25px;

border:none;

border-radius:30px;

background:#00abf0;

color:white;

text-decoration:none;

cursor:pointer;

font-weight:600;

}

.coming-soon{

background:#555 !important;

}

.project-buttons a:hover{

background:#0095d9;

}

/*================ ACHIEVEMENTS ================*/

.achievements{

padding:140px 8% 80px;

background:#081b29;

min-height:100vh;

}

.achievements h1{

text-align:center;

font-size:50px;

color:#00abf0;

margin-bottom:15px;

}

.achievement-subtitle{

text-align:center;

color:#dcdcdc;

margin-bottom:60px;

font-size:18px;

}

.achievement-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:30px;

}

.achievement-card{

background:#112e42;

padding:30px;

border-radius:20px;

text-align:center;

transition:.4s;

}

.achievement-card:hover{

transform:translateY(-10px);

box-shadow:0 0 20px rgba(0,171,240,.5);

}

.achievement-card i{

font-size:55px;

color:#00abf0;

margin-bottom:20px;

}

.achievement-card h3{

margin-bottom:15px;

font-size:24px;

}

.achievement-card p{

color:#dcdcdc;

line-height:1.8;

}

/*================ CONTACT =================*/

.contact{

padding:140px 8% 80px;

background:#081b29;

min-height:100vh;

}

.contact h1{

text-align:center;

font-size:50px;

color:#00abf0;

margin-bottom:15px;

}

.contact-subtitle{

text-align:center;

color:#dcdcdc;

margin-bottom:60px;

}

.contact-container{

display:flex;

justify-content:space-between;

gap:60px;

flex-wrap:wrap;

}

.contact-info{

flex:1;

}

.contact-info h2{

font-size:32px;

margin-bottom:25px;

color:#00abf0;

}

.contact-info p{

margin-bottom:20px;

font-size:18px;

}

.contact-info i{

color:#00abf0;

margin-right:10px;

}

.social-links{

margin-top:30px;

}

.social-links a{

display:inline-flex;

width:50px;

height:50px;

justify-content:center;

align-items:center;

background:#112e42;

border-radius:50%;

margin-right:15px;

text-decoration:none;

color:#00abf0;

font-size:24px;

transition:.3s;

}

.social-links a:hover{

background:#00abf0;

color:white;

transform:translateY(-5px);

}

.contact-form{

flex:1;

}

.contact-form input,
.contact-form textarea{

width:100%;

padding:15px;

margin-bottom:20px;

background:#112e42;

border:none;

border-radius:10px;

color:white;

font-size:16px;

}

.contact-form button{

padding:15px 35px;

border:none;

border-radius:30px;

background:#00abf0;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

.contact-form button:hover{

background:#0095d9;

}

@media(max-width:900px){

.contact-container{

flex-direction:column;

}

}
/*================ EXPERIENCE ================*/

.experience{

padding:140px 8% 80px;

 background:#081b29;

min-height:100vh;

}

.experience h1{

text-align:center;

font-size:50px;

color:#00abf0;

margin-bottom:15px;

}

.experience-subtitle{

text-align:center;

color:#dcdcdc;

margin-bottom:50px;

font-size:18px;

}

.experience-card{

max-width:900px;

margin:auto;

background:#112e42;

padding:35px;

border-radius:20px;

transition:.4s;

}

.experience-card:hover{

transform:translateY(-8px);

box-shadow:0 0 20px rgba(0,171,240,.5);

}

.experience-card h2{

color:#00abf0;

margin-bottom:8px;

}

.experience-card h3{

margin-bottom:8px;

}

.duration{

display:inline-block;

margin-bottom:20px;

color:#cfd8dc;

font-style:italic;

}

.experience-card ul{

padding-left:20px;

}

.experience-card li{

margin-bottom:15px;

line-height:1.8;

color:#dcdcdc;

}
.hero-social{

margin-top:35px;

display:flex;

gap:20px;

}

.hero-social a{

width:50px;

height:50px;

display:flex;

justify-content:center;

align-items:center;

border-radius:50%;

background:#112e42;

color:#64ffda;

font-size:22px;

text-decoration:none;

transition:.4s;

}

.hero-social a:hover{

background:#64ffda;

color:#081b29;

transform:translateY(-8px);

box-shadow:0 0 20px #64ffda;

}
.typing{

color:#64FFDA;

font-weight:700;

}

.typing::after{

content:"|";

animation:blink .7s infinite;

}

@keyframes blink{

50%{

opacity:0;

}

}

/*================ HERO STATS ================*/

.hero-stats{

display:flex;

gap:45px;

margin-top:40px;

flex-wrap:wrap;

}

.stat{

text-align:center;

}

.stat h2{

font-size:38px;

color:#64FFDA;

font-weight:700;

}

.stat p{

margin-top:8px;

font-size:16px;

color:#dcdcdc;

}

.stat{

transition:.4s;

cursor:pointer;

}

.stat:hover{

transform:translateY(-8px);

}

.stat:hover h2{

color:white;

}
@media(max-width:768px){

.menu-btn{
    display:block;
    font-size:30px;
    color:#64FFDA;
    cursor:pointer;
    border:none;
}

nav{

position:absolute;

top:75px;

left:-100%;

width:100%;

background:#081b29;

display:flex;

flex-direction:column;

align-items:center;

padding:20px 0;

transition:.4s;

}

nav.active{

left:0;

}

nav a{

margin:15px 0;

}

}
.hero,
.page,
.skills-page,
.projects,
.achievements,
.experience,
.contact{
    position: relative;
    z-index: 1;
}
@media (max-width:768px){

    *{
        max-width:100%;
    }

    .hero,
    .page,
    .skills-page,
    .projects,
    .achievements,
    .experience,
    .contact{
        padding-left:20px;
        padding-right:20px;
    }

    .project-card{
        width:100%;
    }

    .achievement-card{
        width:100%;
    }

}
